$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views  */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  /*border-top: 1px solid #e5e5e5;*/
}

.container-narrow > hr {
  margin: 30px 0;
}

.day-choose {
  margin-right: 1em;
  margin-top: 1em;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .double-results td {
    width: 50%
  }
  .user-choose {
    margin-left: auto;
    margin-right: auto;
    .btn {
      width: 33%;
      min-width: 110px;
      height: 180px;
      font-size: 21px;
    }
    img {
      max-width: 52px;
      max-height: 52px;
      margin-bottom: 10px;
      margin-top: 35px;
    }
  }

  .mood-choose {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    .btn {
      width: 150px;
      height: 150px;
      font-size: 14px;
    }
    img {
      max-width: 125px;
      max-height: 75px;
      margin-bottom: 10px;
    }
  }

  .button-bar {
    .btn {
      font-size: 21px;
      padding: 14px 24px;
    }
  }

  .line-legend {
    margin-left: 10px;
    .btn {
      font-size: 16px;
      padding: 5px 5px 6px 6px;
    }
  }

  .average-info {
    font-size: 32px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 980px) {
  .container {
    max-width: 920px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    //margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
