﻿<div class="jumbotron">
    <p class="lead">
        <div>
            <h1>Średnia zespołu</h1>&nbsp;
            <h2>{{ day }}</h2>
            <table class="double-results">
                <tr><td>
                        <canvas id="teamStats" width="400" height="400"></canvas>
                </td><td>
    <div average avg-values="avg"></div>
</td></tr>
            </table>
        </div>
        <a class="btn" href="#/team/{{getPrevDay()}}">&lt; {{getPrevDay()}}</a>
        <a class="btn" href="#/team/{{getNextDay()}}">{{getNextDay()}} &gt;</a>
    </p>
</div>
