<div class="jumbotron">
  <h1>Historia</h1>
  <p class="lead">
    <div>
    <div class="average-info">Wykres wprowadzanych danych  nastroju</div>
    <table>
        <tr>
            <td><canvas id="averageMoodChart" width="700" height="400"></canvas></td>
            <td><div ng-bind-html="printLegend()"></div></td>
        </tr>
    </table>
    </div>
  </p>
</div>
